# Configuration files
.vscode
.DS_Store

# Original Deitel & Deitel C++ sources
fig03*.cpp
fig06*.cpp

# Object files from GNAT, g++ and clang++
*.ali
*.o

# Executables we have produced
# C++
fig06_01
fig06_02
fig06_03
fig06_04
fig06_05
# Ada
addition
bar_chart
big_numbers
compare_integers
compound_interest
count_grades
counter_iteration
counters
fact
fact_iter
fib
find_maximum
for_continue
for_exit
for_iteration
hello
hello_lines
initialize_array
initialize_constant_array
initialize_two_arrays
integer_float_map
iterate_array
logical_operators
loop_iteration
nested
queue_floats
random_integers
random_seeded
roll_die
search_array
sentinel_iteration
set_floats
string_test
sum_array
sum_even
survey
while_iteration
